<h1>Coolest App</h1>

<a href="/registration"><button type="button" formmethod="post">JOIN - the coolest app</button></a>

<form action="/registration" method="post">
  <fieldset>
<legend>SignIn:</legend>
Username: <input type="text" name="username"><br><br>
Password: <input type="password" name="password"><br>
</fieldset>
<button id="log_button" type="submit">SignIn</button>
</form>
