<!doctype html>
<html>
<head>
  <meta charset="UTF-8">

  <title>Coolest App</title>

  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

  <link href="style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<header>
  <div class="wrapper">

  </div>
</header>



<div id="content">
  <div class="wrapper">

    <section class="clearfix">


      <%= yield %>


    </section>

  </div><!--end wrapper-->
</div><!--end content-->



</body>
</html>
